.modal-dialog {
  z-index: 9999 !important;
  margin: auto;
  position: absolute !important;
  top: 150px;
  left: 0;
  right: 0;
}

.modal-backdrop {
  z-index: 100 !important;
  background-color: #000;
  opacity: 0.5;
}